@using AgainWebApp.Models
@model IEnumerable<Employer>
@{
    ViewBag.Titel ="Сотрудники";
}
<table class="table">
    <thead>
        <tr>
            <th> id</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>отчество</th>
            <th>Дата Рождения</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var employer in Model)
        {
            <tr>
                <td>@employer.Id</td>
                <td>
                    <a asp-action="Details" asp-route-id=@employer.Id>@employer.LastName</a>
                </td>
                <td>@employer.FirstName</td>
                <td>@employer.Birthday.ToString("d")</td>
                <td>@employer.Patronomic</td>
            </tr>
        }
    </tbody>
</table>